@import url('https://fonts.googleapis.com/css2?family=poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #282829;
  color: #fff;
  font-family: 'poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  /* 아래 밑줄이 없어짐 */
  text-decoration: none;
  color: #802bb1;
}

.btn {
  cursor: pointer;
  /* Login 부분 길게 만들어줌 */
  display: inline-block;
  padding: 15px;
  width: 100%;
  background-color: #802bb1;
  font-family: inherit;
  box-shadow: 15px 5px 5px #171618;
  font-size: 16px;
  /* Login부분 상자 테두리 없애기 */
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

/* click 했을 때 버튼이 조금 작아지게 하기 */
.btn:active {
  transform: scale(0.98);
}

/* text 버튼 아래로 조금 내리기 */
.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
}

.form-control input {
  background-color: transparent;
  /* 네모 상자 없어짐 */
  border: 0;
  border-bottom: 2px #fff solid;
  /* email & password 밑줄 아래로 내려옴 */
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  /* input 글자를 하얀색으로 */
  color: #fff;
}

/* input 글자 넣는 곳 박스 없애주기 */
.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: #802bb1;
}

/* Email & password position이 밑줄 위로 올라감 */
.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: #802bb1;
  /* Email & Password 글자를 위로 올려주기 */
  transform: translateY(-30px);
}
